
<div class="row">
  <div id="sidebar" class="col-md-3"></div>
  <div id="content" class="col-md-9"></div>
</div>

<script type="application/javascript"> 
  // bootstrap currentUser 
  JjList.currentUser = new JjList.Models.User({
    id: <%= current_user.id %>,
    username: "<%= current_user.username %>",
    favoriteUsers: new JjList.Collections.FavoriteUsers({
    }),
    favoritePosts: new JjList.Collections.FavoritePosts({
    })
  });
  
  //bootstrap currentUser favorite posts and users
  JjList.currentUser.get("favoriteUsers").fetch({
    success:function (collection, response, options) {
      JjList.currentUser.get("favoritePosts").fetch({
        success: function (colleciton, response, options) {
          JjList.initialize();
        }
      })
    }
  })  
</script>


