
<div class="row">
  <div id="sidebar" class="col-md-3"></div>
  <div id="content" class="col-md-9"></div>
</div>

<script type="application/javascript"> 
  JjList.currentUser = new JjList.Models.User({
    id: <%= current_user.id %>,
    username: "<%= current_user.username %>",
    favoriteUsers: new JjList.Collections.FavoriteUsers
    favoritePosts: new 
  })
</script>


