<h3>this is my root page with content div</h3>
<div id="content"></div>





<%= form_for 'Post', :url => users_path, :html => { :multipart => true } do |form| %>
  <%= form.file_field :avatar %>
<% end %>