


<div id="welcome" class="row">
  <div class='col-md-12'>
    This is my welcome page. Should have...<br>
    * header div to log in<br>
    * central div with logo and guest log in<br>
    * footer div with quotes<br>
    <br>
    * this page should render if a non-signed in user tries to acecess the root page
  </div>
</div>