


<div id="welcome" class="row">
  <div class='col-md-12' id="welcome-div">
    <h1 id="welcome-title">
      Welcome to <span class="make-orange">jj's List</span>
    </h1>
    <h3>This application provides a more intimate <a href="http://www.craigslist.org/about/sites">craigslist</a> expierence</h3>
    <ul class="welcome-list">
      <li>search through all listings in one place</li>
      <li>bookmark and keep track of important listings</li>
      <li>follow intresting users for quick access to their posts</li>
    </ul>
  </div> 
</div>

<div id="quotes-div" class="row">
  <div class="col-md-12">
    <blockquote class="block-quote-1">
      <p>Amazing! Very aerodynamic</p>
      <small>Aaron <cite title="Source Title"></cite></small>
    </blockquote>
    
    <blockquote class="block-quote-2">
      <p>Why do whales beach themselves?</p>
      <small>Matt <cite title="Source Title"></cite></small>
    </blockquote>
    <blockquote class="block-quote-3">
      <p>How long is a piece of string?</p>
      <small>Sara <cite title="Source Title"></cite></small>
    </blockquote>
  </div>
</div>