<div class="sign-up">
  <p in="sign-up-message">Not already a member?</p>
  <a href="<%= new_user_url %>">Sign up now!</a>
</div>



This is my welcome page. Should have...<br>
* header div to log in<br>
* central div with logo and guest log in<br>
* footer div with quotes<br>
<br>
* this page should render if a non-signed in user tries to acecess the root page
