





  	<ul>
  
          <% users.forEach(function (user) { %>
            <li>
              <a href=""><%= user.escape("username") %></a>
              <br>
            </li>
          <% }) %>
      
  	</ul>
    

      <div id="tabs">
        <ul>
          <li><a href="#tabs-1">Dashboard</a></li>
          <li><a href="#tabs-2">
                <span class="glyphicon glyphicon-star star stared"> </span>
                Users
              </a>
          </li>
        </ul>
        <div id="tabs-1">
          <div class="btn-group-vertical">
           <button type="button" class="btn btn-default btn-icon" id="search-btn">
             <span class="glyphicon glyphicon-search"> </span>
             Search
           </button>
           
           <button type="button" class="btn btn-default btn-icon" id="create-post-btn">
             <span class="glyphicon glyphicon-pencil"> </span>
             Create Post
           </button>
         </div> 
         <h3 class="ban"><span class="ban-text"></span></h3>
         <div class="btn-group-vertical">
           <button type="button" class="btn btn-default btn-icon" id="favorite-post-btn">
             <span class="glyphicon glyphicon-star star stared"> </span>
             Favorite Posts
           </button>
           <button type="button" class="btn btn-default btn-icon" id="my-posts-btn">
             <span class="glyphicon glyphicon-list"> </span>
             My Posts
           </button>
          </div>
          <h3 class="ban"><span class="ban-text"></span></h3>
        </div>
        
        <div id="tabs-2">
          <p>Proin elit arcu, rutrum commodo, vehicula tempus, commodo a, risus. Curabitur nec arcu. Donec sollicitudin mi sit amet mauris. Nam elementum quam ullamcorper ante. Etiam aliquet massa et lorem. Mauris dapibus lacus auctor risus.sit amet mauris. Nam elementum quam ullamcorper ante. </p>
        </div>
      </div>
   
    
    
    
    
    
    
    

 
