

<div class="favorite-users">
  FAVORITES USERS
  <ul>
    <% users.forEach(function (user) { %>
      <li>
        <a href=""><%= user.escape("username") %></a>
        <br>
      </li>
    <% }) %>
  </ul>
</div>
  
  
<div class="favorite-posts">
  FAVORITE POSTS
  <ul>
    <% posts.forEach(function (post) { %>
      <li>
        <a href""><%= post.escape("title") %></a>
        <br>
      </li>
    <% }) %>
  </ul>
</div>





<ul id="featured">
  <li class="favorite-users">
  	<ul>
  
          <% users.forEach(function (user) { %>
            <li>
              <a href=""><%= user.escape("username") %></a>
              <br>
            </li>
          <% }) %>
      
  	</ul>
  </li>
  <li class="favorite-posts">
  	<ul>
    
          <% posts.forEach(function (post) { %>
            <li>
              <a href""><%= post.escape("title") %></a>
              <br>
            </li>
          <% }) %>
     
  	</ul>
  </li>
</ul>
