
<div id="tabs">
  <ul>
    <li><a href="#tabs-1">Dashboard</a></li>
    <li class="jj-float-right"><a href="#tabs-2">Following</a></li>
  </ul>
  
  <div class="jj-tab-fmt" id="tabs-1">
    <div class="btn-group-vertical">
     <button type="button" class="btn btn-default btn-icon" id="search-btn">
       <span class="glyphicon glyphicon-search"> </span>
       Search
     </button>
     
     <button type="button" class="btn btn-default btn-icon" id="create-post-btn">
       <span class="glyphicon glyphicon-pencil"> </span>
       Create Post
     </button>
   </div> 
   <h3 class="ban"><span class="ban-text"></span></h3>
   <div class="btn-group-vertical">
     <button type="button" class="btn btn-default btn-icon" id="favorite-post-btn">
       <span class="glyphicon glyphicon-star star stared"> </span>
       Favorite Posts
     </button>
     <button type="button" class="btn btn-default btn-icon" id="my-posts-btn">
       <span class="glyphicon glyphicon-list"> </span>
       My Posts
     </button>
    </div>
  </div>
  
  <div class="jj-tab-fmt" id="tabs-2">
      <% JjList.currentUser.get("favoriteUsers").forEach(function (user) { %>
        <div>
            <a href="#users/<%= user.id %>/posts">
              <span class="list-favorite-username fake-link">
                <%= user.escape("username") %>
              </span>
            </a>
          <br>
        </div>
      <% }) %>
  </div>
</div>