<div id="form-title">
  <span id="form-title-message" class="search-title">Create a new listing</span>
  <h3 class="ban">
    <span class="ban-text"></span>
  </h3>
</div>

<form id="new-post-form" enctype="multipart/form-data" role="form">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" name="post[title]" id="title" class="form-control">
  </div>
  <div class="form-group">
    <label for="price">Price</label>
    <input type="text" name="post[price]" id="price" class="form-control">
  </div>
  <div class="form-group">
    <label for="location">Location</label>
    <input type="text" name="post[location]" id="location" class="form-control">
  </div>
  <div class="form-group">
    <label for="post-body">Description</label>
    <textarea name="post[body]" form="new-post-form" id="post-body" class="form-control" rows="10"></textarea>
  </div>
    <label for="uploadimage">UploadImage</label> 
    <input type="file" 
           name="photos[]" 
           id="uploadimage"
           multiple>
    <input type="submit" class="btn btn-default" value="create post!" id="new-post">
  </div>
</form>