
<div>
  <span class="search-title">
    <%= author.escape("username") %>'s Posts
  </span>
  <h3 class="ban">
    <span class="ban-text"></span>
  </h3>
</div>



<div class="hits-list">
  <%= JST["_postsIndex"]({results: results})%>
</div>

<div id='modal-view'></div>