// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/





#middle {
  margin-top: 76px;
//  margin-bottom: 90px;
height: 500px;
  
}

#footer-nav {
  background-color: black;
}

.greeting-msg {
  color: darkorange;
}

.site-link {
  color: darkorange;
  font-size: 33px;
  margin-bottom: 20px;
  margin-top: 0px;

}

.favorite-users {
  background-color: blue;
}

.favorite-posts {
  background-color: green;
}

.ban {
  border-top: 1px solid #ddd;
  clear: both;
  margin-bottom: 20px;
}

.ban-text {
  text-align: center;
   font-weight: bold;
}

.price {
  width: 50px;
  border-radius: 4px;
}

#search-btn {
  width: 150px;
}

#q {
  border-radius: 4px;
  width: 300px;
}

#filters {
  text-align: center;
}

.bar { 
  font-size: 20px;
  color: lightgrey;
  margin-left: 5px;
  margin-right: 5px;
 }

 .image-preview {
   display: inline-block;
   height: 50px;
   width: 50px;
   border-radius: 6px;
   vertical-align: top;
 }
 
 .preview {
   display: inline-block;
   
 }
 
 .post-created-at {
   font: inherit;
   vertical-align: baseline;
 }
 
 .price-preview {
   border: solid 1px grey;
   border-radius: 4px;
   padding-left: 5px;
   padding-right: 5px;
 }
 
 .star {
   color:grey;
   font-size: 19px;
 }
 
 .authorStar {
   color:grey;
   font-size: 19px;
 }
 
 .stared {
   //background-color: darkorange;
   color: rgb(255, 143, 0);

 }
 
 .star-preview {
   //background-color: darkorange;
   color: rgb(255, 143, 0);

   cursor: pointer;
 }
 
 .hit {
   border-top-width: 1px;
   border-right-width: 1px;
   margin-bottom: 3px;
   border-style: solid;
   border-color: transparent;
   height: 54px; 
   width: 550px;
 }
 
 .hit-hover {
   border-color: black;
   border-radius: 10px;
   //cursor: pointer;
 }
 
 .hits-list {
   position: fixed;
   top: 270px;
   bottom: 50px;
   overflow: scroll;
   width: 600px;
   left: 38%;
 }
 
 .users-hits-list {
   top: 180px;
 }
 
 .fake-link {
     color: blue;
     text-decoration: underline;
     cursor: pointer;
 }
 
 .modal-body {
   height: 400px;
   overflow: scroll;
 }
 
 #carousel {
   width: 300px;
   height: 218px;
   float: right;
 }
 
 .haspic {
   color: orange;
 }
 
 .search-header {
   width: 628px;
   position: fixed;
   z-index: 10;
 }
 
 .search-title {
   font-size: 60px;
   text-align: center;
   display: block;
   margin-bottom: 20px;
 }
 
 .small-font {
   font-size: 10px;
 }
 
 #header-nav {
   background: linear-gradient(black, black, black,rgba(125, 195, 241, 0));
   border: none;
  // height: 70px;
 }

 #tabs {
   border-style: solid;
   border-color: black;
   border-radius: 10px;
   border-left-width: 3px;
   border-bottom-width: 3px;
   margin-top: 107px;
 }
 
 .jj-tab-fmt {
   height: 216px;
   width: 100%;
 }
 
 .jj-float-right {
   float: right !important;
 }
 
 .ui-corner-top {
   width: 48%;
 }
 
 .ui-tabs-panel {
   text-align: center;
 }
 
 .ui-tabs-anchor {
   text-align: center;
   width: 100%;
   padding: .5em !important;
 }
 
  .ui-widget-content {
    background: rgba(0, 0, 0, 0.5);
  }

  #tabs-2 {
    overflow: scroll;
  }
 
 #new-post-form {
   width: 600px;
   margin-left: auto;
   margin-right: auto;
 }
 
 .list-favorite-users {
   text-align: left;
   display: inline-block;
 }
 
 .list-favorite-username {
   color: lightblue;
   font-size: 20px;
 }
 
 .btn-icon {
   text-align: left;
   width: 140px;
 }
 
 body
 {
 background-image:url('clouds-1200-light.jpg');
 background-size:100% 100%;
 background-repeat:no-repeat;
 } 
 
 #welcome-div {
   text-align: center;
   margin-top: 50px;
 }
 
 .welcome-list {
   text-align: left;
   width: 400px;
   margin-left: auto;
   margin-right: auto;
 }
 
 #quotes-div {
   margin-top: 80px;
 }
 
 .block-quote-1 {
   text-align: left;
 }
 
 .block-quote-2 {
   text-align: center;
 }
 
 .block-quote-3 {
   text-align: right;
 }
 
 .sign-up-form {
   width: 300px;
   margin-right: auto;
   margin-left: auto;
 }
 
 .sign-up-title {
   text-align: center;
   margin-top: 50px;
 }
 
 .make-orange {
   color: rgb(231, 110, 29);
 } 
 
 .jj-input-xs {
   height: 21px;
 }
 
 #sign-up-message {
   color: orange;
 }
 
 .jj-input-width {
   width: 120px;
 }
 
 .jj-right-buffer {
   margin-right: 20px;
 }
 
 .jj-center {
   text-align: center;
 }
 
 .jj-icon {
   color: darkorange;
   font-size: 60px;
 }
 
 .jj-v-pad {
   margin-top: 60px;
   margin-bottom: 20px;
 }
 
 @media (max-width: 991px) {
   .ui-tabs {
     width: 213px;
     margin-left: auto;
     margin-right: auto;
   }
   
   .jj-right-buffer {
     float: right;
   }
 }
 
 
 
 
 
 