// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#header-nav {
  background-color: blue;
}

#middle {
  margin-top: 56px;
  margin-bottom: 200px;
}

#footer-nav {
  background-color: rgb(158, 158, 255);
}

.favorite-users {
  background-color: blue;
}

.favorite-posts {
  background-color: green;
}

.ban {
  border-top: 1px solid #ddd;
  clear: both;
}

.ban-text {
  text-align: center;
   font-weight: bold;
}

.price {
  width: 50px;
  border-radius: 4px;
}

#search-btn {
  width: 150px;
}

#q {
  border-radius: 4px;
  width: 300px;
}

#filters {
  text-align: center;
}

.bar { 
  font-size: 20px;
  color: lightgrey;
  margin-left: 5px;
  margin-right: 5px;
 }

 .image-preview {
   display: inline-block;
   height: 50px;
   width: 50px;
   border-radius: 6px;
   vertical-align: top;
 }
 
 .preview {
   display: inline-block;
   
 }
 
 .post-created-at {
   font: inherit;
   vertical-align: baseline;
 }
 
 .price-preview {
   border: solid 1px lightgrey;
   border-radius: 4px;
   padding-left: 5px;
   padding-right: 5px;
 }
 
 .star {
   color:lightgrey;
   font-size: 19px;
 }
 
 .stared {
   background: -webkit-linear-gradient(#FFC200, #FFFF00);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
 }
 
 .star-preview {
   background: -webkit-linear-gradient(#FFC200, #FFFF00);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   cursor: pointer;
 }
 
 .hit {
   border-top-width: 1px;
   border-right-width: 1px;
   margin-bottom: 3px;
   border-style: solid;
   border-color: transparent;
   height: 54px; 
 }
 
 .hit-hover {
   border-color: black;
   border-radius: 10px;
   //cursor: pointer;
 }
 
 .fake-link {
     color: blue;
     text-decoration: underline;
     cursor: pointer;
 }
 
 .modal-body {
   height: 400px;
   overflow: scroll;
 }
 
 #carousel {
   width: 300px;
   height: 218px;
   float: right;
 }
 
 .haspic {
   color: orange;
 }
 
 .small-font {
   font-size: 10px;
 }
 
 @media (min-width: 992px) {
   .bs-sidebar.affix {
     position: fixed;
     top: 80px;
   }
 }
 
 @media (min-width: 992px) {
   .bs-sidebar.affix, .bs-sidebar.affix-bottom {
   width: 213px;
   }
 }