// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#header-nav {
  background-color: rgb(0, 0, 0);
}

#middle {
  margin-top: 56px;
  margin-bottom: 200px;
}

#footer-nav {
  background-color: rgb(0, 0, 0);
}

.greeting-msg {
  color: #428bca;
}



.site-name {
  color: #428bca;
  position: fixed;
  left: 4%;
  top: 1%;
  font-size: 26px;
}

.site-link {
  color: #428bca;
  position: fixed;
  left: 4%;
  top: 1%;
  font-size: 26px;
}

.favorite-users {
  background-color: blue;
}

.favorite-posts {
  background-color: green;
}

.ban {
  border-top: 1px solid #ddd;
  clear: both;
  margin-bottom: 20px;
}

.ban-text {
  text-align: center;
   font-weight: bold;
}

.price {
  width: 50px;
  border-radius: 4px;
}

#search-btn {
  width: 150px;
}

#q {
  border-radius: 4px;
  width: 300px;
}

#filters {
  text-align: center;
}

.bar { 
  font-size: 20px;
  color: lightgrey;
  margin-left: 5px;
  margin-right: 5px;
 }

 .image-preview {
   display: inline-block;
   height: 50px;
   width: 50px;
   border-radius: 6px;
   vertical-align: top;
 }
 
 .preview {
   display: inline-block;
   
 }
 
 .post-created-at {
   font: inherit;
   vertical-align: baseline;
 }
 
 .price-preview {
   border: solid 1px grey;
   border-radius: 4px;
   padding-left: 5px;
   padding-right: 5px;
 }
 
 .star {
   color:grey;
   font-size: 19px;
 }
 
 .authorStar {
   color:grey;
   font-size: 19px;
 }
 
 .stared {
   //background-color: darkorange;
   color: rgb(255, 143, 0);

 }
 
 .star-preview {
   //background-color: darkorange;
   color: rgb(255, 143, 0);

   cursor: pointer;
 }
 
 .hit {
   border-top-width: 1px;
   border-right-width: 1px;
   margin-bottom: 3px;
   border-style: solid;
   border-color: transparent;
   height: 54px; 
   width: 550px;
 }
 
 .hit-hover {
   border-color: black;
   border-radius: 10px;
   //cursor: pointer;
 }
 
 .hits-list {
   position: fixed;
   top: 270px;
   bottom: 50px;
   overflow: scroll;
   width: 600px;
   left: 38%;
 }
 
 .users-hits-list {
   top: 180px;
 }
 
 .fake-link {
     color: blue;
     text-decoration: underline;
     cursor: pointer;
 }
 
 .modal-body {
   height: 400px;
   overflow: scroll;
 }
 
 #carousel {
   width: 300px;
   height: 218px;
   float: right;
 }
 
 .haspic {
   color: orange;
 }
 
 .search-header {
   width: 628px;
   position: fixed;
   z-index: 10;
 }
 
 .search-title {
   font-size: 60px;
   text-align: center;
   display: block;
   margin-bottom: 20px;
 }
 
 .small-font {
   font-size: 10px;
 }
 
 .navbar-fixed-top {
   margin-bottom: 0px;
   height: 50px;
 }
 
 #tabs {
   border-style: solid;
   border-color: black;
   border-radius: 10px;
   margin-left: 0px;
   border-left-width: 3px;
   border-bottom-width: 3px;
   position: fixed;
   top: 50%;
   margin-top: -195px;
 }
 
 .ui-state-default {
   width: 48%;
 }
 
 #tabs-1 {
   height: 334px;
   width: 224px;
 }
 
 #tabs-2 {
   height: 334px;
   width: 224px;
   text-align: center;
 }
 
 
 .btn-icon {
   text-align: left;
   width: 140px;
 }
 
 .ui-tabs-panel {
   text-align: center;
 }
 
 #new-post-form {
   width: 600px;
   margin-left: auto;
   margin-right: auto;
 }
 
 .list-favorite-users {
   text-align: left;
   display: inline-block;
 }
 
 .list-favorite-username {
   font-size: 20px;
 }
 
 body
 {
 background-image:url('clouds-1200-light.jpg');
 background-size:100% 100%;
 background-repeat:no-repeat;
 //background-size:contain;
 } 
 
 #welcome-div {
   text-align: center;
   margin-top: 50px;
 }
 
 .welcome-list {
   text-align: left;
   width: 400px;
   margin-left: auto;
   margin-right: auto;
 }
 
 #quotes-div {
   margin-top: 80px;
 }
 
 .block-quote-1 {
   text-align: left;
 }
 
 .block-quote-2 {
   text-align: center;
 }
 
 .block-quote-3 {
   text-align: right;
 }
 
 .ui-tabs-anchor {
   color: #428bca;
 }
 
 .sign-up-form {
   width: 300px;
   margin-right: auto;
   margin-left: auto;
 }
 
 .sign-up-title {
   text-align: center;
   margin-top: 50px;
 }
 
 .make-orange {
   color: rgb(231, 110, 29);
 }
 
// .icon {
//   display: inline-block;
// }
// 
// #connect {
//   background-image:url('connect.png');
// }
// 
// #inquire {
//   background-image:url('inquire.png');
// }
// 
// #own {
//   background-image:url('own.png');
// }
// .set-w {
//   width:329px;
// }
 
 
 @media (min-width: 992px) {
   .bs-sidebar.affix {
     position: fixed;
     top: 80px;
   }
 }
 
 @media (min-width: 992px) {
   .bs-sidebar.affix, .bs-sidebar.affix-bottom {
   width: 213px;
   }
 }