<div id="search-box">
  <form id="search-form">
    <input type="text" name="search[q]" id="q">
    <input type="submit" value="Search!">
    <div id="filters">
      <label for="price_min">Price min</label>
      <input type="text" name="search[min]" value="" id="price_min">
      
      <label for="price_max">Price max</label>
      <input type="text" name="search[max]" value="" id="price_max">
      
      <label for="has_picture">has picture</label>
      <input type="checkbox" name="search[pic]" value="true" id="has_picture">
      
      <label for="days">only display listings </label>
        <!-- dropdown -->
        <select name="search[days]" id="days">
          <option value="1" selected="1">1 day old</option>
          <option value="2">2 days old</option>
          <option value="3">3 days old</option>
          <option value="4">4 days old</option>
          <option value="5">5 days old</option>
        </select>
      
    </div>
  </form>
</div>

