<!-- <div class="row"> -->
  <div class="col-md-9">
    <h3 class="ban">
      <span class="ban-text"> <%= title %></span>
    </h3>
   
    <%= JST["_postsIndex"]({results: results})%>
  </div>
<!-- </div> -->
  
  
  
  
