<!-- <div class="row"> -->
  <div class="col-md-12">

    <div class="hits-list">
      <%= JST["_postsIndex"]({results: results})%>
    </div>
    <div id='modal-view'></div>
    <div id='email-modal'></div>
  </div>
<!-- </div> -->
  
  
  
  
