<% var setClass = ""%>


<% JjList.currentUser.get("favoriteUsers").forEach(function (user) { %>
 
  <% if (user.id === parseInt(authorId)) { %>
   
    <% setClass = "stared" %>
  <% } %> 
<% }) %>
<span class="star authorStar glyphicon glyphicon-star <%= setClass %>"></span>
