<% var setClass = ""%>
<% JjList.currentUser.attributes.favoritePosts.forEach(function (post) { %>
  <% if (post.id === postId) { %>
    
    <% var setClass = "stared" %>
  <% } %> 
<% }) %>
<span class="star glyphicon glyphicon-star <%= setClass %>"></span>

