<% var setClass = ""%>

<% JjList.currentUser.get("favoritePosts").forEach(function (post) { %>
  
  <% if (post.id === postId) { %>
   
    <% setClass = "stared" %>
  <% } %> 
<% }) %>
<span class="star postStar glyphicon glyphicon-star <%= setClass %>"></span>

