

  
  
  <form class="navbar-right form-inline" action="<%= session_url %>" method="post" >
    <div class="greeting-msg">Hi <%= current_user.username %>, </div>
    <input class="btn btn-default btn-xs" type="submit" value="Log Out">
    <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
    <input type="hidden" name="_method" value="delete">
  </form>
